@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
  .btn {
    @apply px-4 py-3 text-4xl font-medium rounded-md text-white shadow-md;
  }
  .btn.toggled {
    @apply bg-red-600 hover:bg-red-500;
  }
  .btn.notToggled {
    @apply bg-green-600 hover:bg-green-500;
  }
}
